<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <div class="reveal">
    <div class="slides">
      <section>
        <pre>
          <code data-trim data-noescape>
            module.exports = {

            }
          </code>
        </pre>
      </section>
      <section>
        <img src="<%= require('./images/webpack-logo-logotype.svg') %>">
      </section>
      <section data-markdown>
        <script type="text/template">
          ## Testing markdown

          A paragraph with some text and a [link](http://webpack.js.org).
        </script>
      </section>
    </div>
    <footer type="contentinfo">
      <img src="<%= require('./images/webpack-logo.svg') %>">
    </footer>
  </div>
</body>

</html>