@font-face {
  font-family: 'FiraCode';
  src: url('./fonts/FiraCode-Regular.eot');
  src: url('./fonts/FiraCode-Regular.eot?#iefix') format('embedded-opentype'),
       url('./fonts/FiraCode-Regular.woff2') format('woff2'),
       url('./fonts/FiraCode-Regular.woff') format('woff'),
       url('./fonts/FiraCode-Regular.ttf') format('truetype');
}

footer {
  bottom: 20px;
  left: 20px;
  height: 50px;
  position: absolute;
  width: 50px;
}

.reveal pre {
  box-shadow: none;
  // width: auto;

  code {
    max-height: none;
  }
}

.reveal pre,
.reveal code {
  font-family: 'FiraCode';
  font-variant-ligatures: initial;
}

.reveal {
  section {
    img {
      border: none;
      box-shadow: none;
    }
  }
}

fade {
  opacity: 0.5;
}